              <section class="footer">
                     <div class="ft-container">
                            <div class="ft-desc">
                                   <p class="dest-pk"><a href="" class="dest-pk">Universo Femenino</a></p>
                                   <p class="dest-bl">O seu espaço cor de Rosa</p>
                                   <p class="dest-bl"><a href="" class="dest-pk sz-14">Universo Femenino</a> &copy; 2023 - Todos os Direitos Reservados. Desenvolvido por Jovany Aldair</p>
                            </div>
                            <div class="ft-social">
                            <ul>
                                   <li><img class="social-1" src="../../midea/1698609115393.jpg" alt=""></li>
                                   <li><img class="social-2" src="../../midea/1698609087937.jpg" alt=""></li>
                                   <li><img class="social-3" src="../../midea/1698609003157.jpg" alt=""></li>
                            </ul>
                            </div>
                     </div>
                     
              </section>
       </body>
</html>