<%- include('partials/header') %>
</head>
<body>
    <header>
        <h1 class="logo"><a href="/" >Universo Femenino</h1>
        <%- include('partials/navigation') %>
    </header>
    <section class="top-section">
        <div class="sobre-txt-top">
            <h1 class="sz-50 dest-bl">Conheça a nossa comunidade</h1>
            <h3 class="sz-20 dest-bl">Venha participar da nossa comunidade e descobrir o que há de melhor!</h3>
        </div>
    </section>
    <section class="delimiter-section"></section>
    <section class="botton-section">
        <div class="form">
            <form action="" method="post">
                <fieldset>
                    <legend>Cadastrar-se</legend>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Seu Nome">
                    <label for="idade">Idade</label>
                    <input type="number" name="idade" id="idade">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Seu E-mail">
                    <button type="submit">Participar</button>

                </fieldset>
            </form>
        </div>
    </section>
    <section class="delimiter-section"></section>
    <%- include('partials/footer') %>
   