<%- include('partials/header') %>

    </head>
    <body>
        <header>
            <h1 class="logo"><a href="/" >Universo Femenino</h1>
            <%- include('partials/navigation') %>
        </header>
        <section class="top-section">
            <ul>
                <li><img class="pic" src="../midea/negocio-mulher-negra-pensando_1187-6461.jpg" alt=""></li>
                <li><img class="pic" src="../midea/mulher-negra-de-negocios-convidando-alguem-para-vir_1187-6478.jpg" alt=""></li>
                <li><img class="pic" src="../midea/negocio-mulher-negra-fazendo-o-gesto-do-vencedor_1187-6481.jpg" alt=""></li>
            </ul>
            <ul>
                <li><h3 class="dest-bl desc ptx-10 sz-12">Criatividade</h3></li>
                <li><h3 class="dest-bl desc ptx-10 sz-12">Altruísmo</h3></li>
                <li><h3 class="dest-bl desc ptx-10 sz-12">Confiança</h3></li>
            </ul>
        </section>
        <section class="delimiter-section"></section>
        <section class="botton-section">
            <div class="container">
                <div><img src="../midea/mulher-negra-de-negocios-fazendo-um-gesto-rico_1187-6469.jpg" alt=""></div>
                <div class="text">
                    <h1 class="dest-pk">Não Gaste o seu Tempo</h1>
                    <h3 class="sz-50 dest-bl">Corra logo e venha juntar-se a <a href="/comunidade" class="dest-bl">nós!</a></h3>
                </div>
            </div>
        </section>
        <section class="delimiter-section"></section>
        <%- include('partials/footer') %>
       