<%- include('partials/header') %>
</head>
<body>
    <header>
        <h1 class="logo"><a href="/" >Universo Femenino</h1>
        <%- include('partials/navigation') %>
    </header>
    <section class="top-section">
        <div class="sobre-txt-top">
            <h1 class="sz-50 dest-bl">Universo Femenino</h1>
            <h3 class="sz-20 dest-bl">É a sua página para os assustos de A à Z de destaque no mundo femenino.</h3>
        </div>
    </section>
    <section class="delimiter-section"></section>
    <section class="botton-section">
        
        <div class="sobre-txt-down">
            <p class="dest-bl sz-14">Contamos com:</p>
            <div class="stats">
                <h1 class=" dest-bl sz-30">+200 Artigos</h1>
            </div>
            <div class="stats">
                <h1 class=" dest-bl sz-30">+2 Mil Membros</h1>
            </div>
            <div class="stats">
                <h1 class="dest-bl sz-30">+10 Debates</h1>
            </div>
        </div>
    </section>
    <section class="delimiter-section"></section>
    <%- include('partials/footer') %>
   